<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="duke" class="com.txc.springInAction.chap2.service.impl.Juggler" autowire-candidate="false">
        <constructor-arg value="15"/>
    </bean>

    <!--<bean id="duke1" class="com.txc.springInAction.chap2.service.impl.Juggler">-->
        <!--<constructor-arg value="16"/>-->
    <!--</bean>-->

    <bean id="sonnet" class="com.txc.springInAction.chap2.service.impl.Sonnet" autowire-candidate="false"/>

    <bean id="sonnetLmz" class="com.txc.springInAction.chap2.service.impl.SonnetLmz"/>

    <!--<bean id="poeticJuggler" class="com.txc.springInAction.chap2.service.impl.PoeticJuggler">-->
        <!--<constructor-arg value="15"/>-->
        <!--<constructor-arg ref="sonnet"/>-->
    <!--</bean>-->

    <bean id="poeticJuggler" class="com.txc.springInAction.chap2.service.impl.PoeticJuggler" autowire="byType">
        <!--<property name="instrument"><null/></property>-->
    </bean>

    <bean id="stage" class="com.txc.springInAction.chap2.service.impl.Stage" factory-method="getInstance"/>

    <bean id="auditorium" class="com.txc.springInAction.chap2.service.impl.Auditorium" destroy-method="turnOffLights"/>

    <bean id="saxophone" class="com.txc.springInAction.chap2.service.impl.Saxophone"/>

    <bean id="instrumentalist" class="com.txc.springInAction.chap2.service.impl.Instrumentalist">
        <property name="song" value="#{systemProperties[spring.profiles.active]}"/>
    </bean>
</beans>