<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="quest" class="com.txc.springInAction.chap1.service.impl.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <bean id="knight" class="com.txc.springInAction.chap1.service.impl.BraveKnight" init-method="myInit" destroy-method="myDestroy">
        <!--<constructor-arg ref="quest"/>-->
        <property name="quest" ref="quest"></property>
    </bean>

    <bean id="minstrel" class="com.txc.springInAction.chap1.service.impl.Minstrel"/>

    <bean id="beanPostProcessor" class="com.txc.springInAction.chap1.compnant.MyBeanPostProcessor"/>

    <bean id="instantiationAwareBeanPostProcessor" class="com.txc.springInAction.chap1.compnant.MyInstantiationAwareBeanPostProcessor"/>

    <bean id="beanFactoryPostProcessor" class="com.txc.springInAction.chap1.compnant.MyBeanFactoryPostProcessor"/>


    <!--<aop:config>-->
        <!--<aop:aspect ref="minstrel">-->
            <!--<aop:pointcut id="embark" expression="execution(* com.txc.springInAction.chap1.service.impl.HH.test(..))"/>-->
            <!--<aop:before pointcut-ref="embark" method="singBeforeQuest"/>-->
            <!--<aop:after method="singAfterQuest" pointcut-ref="embark" />-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->



</beans>